.category{
    background-color: gainsboro;
    padding: 8px;
    border-radius: 25px;
    margin: 10px;
    text-align: center;
    font-family: 'Rajdhani';
    cursor: pointer;
}
.category:hover{
    border: 1px solid black;
}
.e-commerce-categories{
    min-width: 20vw;
}
.e-commerce-categories h3{
    font-size: 20px;
    margin: 20px 15px;
}
.e-commerce{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.e-commerce-products-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 70vw;
    align-items: stretch;
}
.e-commerce-product{
    max-width: 200px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.e-commerce-product-image{
   
    height: 150px;
    width: 100%;
    /* background-image: url('https://images.unsplash.com/photo-1682686581362-796145f0e123?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
}
.product-add-to-cart{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
}
.product-add-to-cart:hover{
    background-color: rgb(234, 191, 0);

}
img{
    width: 100%;
    height: 150px;
}
.price strong{
    font-size: 30px;
}
.e-commerce-product-cart{
    width: 35vw;
    box-sizing: border-box;
    height: 100vh;
    background: rgb(12, 11, 16);
    color: white;
    position: fixed;
    right: 0;
    overflow: visible;
}
.e-commerce-product-cart-heading{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.e-commerce-product-cart-heading > h1{
    font-weight: bold;
    font-size: 1.2em;
    vertical-align: middle;
}
.cart-item-image{
    width: 100px;
    height: 100px;

}
.e-commerce-cart-product-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.gray-text{
    color: rgb(91, 90, 94);
}
.yellow-text{
    color: rgb(234, 191, 0);
}
.cart-button{
    color: rgb(183, 183, 183);
    border: 0px;
    background-color: rgb(0, 0, 0);
    width: 25px;
    height: 25px;
}
.subtotal{
    width: 20%;
    color: rgb(91, 90, 94);
    vertical-align: middle;
    display: inline-block;
}
.sub-total{display: flex;
justify-content: space-between;
align-items: center;
}
.total-price{
    color: rgb(234, 191, 0);
    font-size: 22px;
    margin: 0px;

}
.cart-item-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 2;
    padding: 20px;
}
.e-commerce-cart-pricing-area{
    box-sizing: border-box;
    padding: 5%;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 200px;
    z-index: 2;
    background-color: rgb(27, 26, 32);
}
.e-commerce-cart-pricing-area::before{
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
    top: -20px;
    left: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
}
.checkout-button{
    width: 100%;
    border: 0px;
    color: rgb(236, 236, 236);
    text-transform: uppercase;
    background-color: rgb(12, 11, 16);
    text-align: center;
    padding: 15px 0px;
    margin-top: 40px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease 0s;
   
}
.cart-item-pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cross-btn{
    position: absolute;
    top: 0;
    left: -38px;
    font-size: 30px;
    background-color: rgb(12, 11, 16);
    padding: 10px;
    color: white;
}
.cart-icon{
    position: fixed;
    width: 35px;
    height: 40px;
   color: white;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiCwwQEgYn7+gWAAABQklEQVRIx9WTsUoDQRRF72xMYSFokcRCjBFESGWRwtZe8AtEFFNrI1bB0tLGQuzs/AJB8AO2kZRCxBiRQNKIoIYoyLFwCZuss9nNgpBXzc7be3j3zow09mU48321zVF8gNtbZ5Q1UwmGYQPIxFU5vnVdUuHfARO+OD5oa9GzM6NcbICkem+CLZ0kA1zKHQ2w6tlpqRUN4AwA5knFiTAISGsuHqDfwoOkgp4kUkoP1WI+Azt02ZYk9hle3cAEBh69c7iKEOJ30IJU/71KpqbaKCH6b0LEGgTcaYXpeIj+GJf54pyI70CSTACxq1M5ehmqvDCHfwIkFrQW4S1WzXUCq+E5lNhkMqSfo0ze3t7hlWeqIfJ3GnQo2n644ZhZYMnSL9OQcKnYAHs0ueUeY+nn6eDyRskGcFjngGxIBkUqVvk41g+oBJ136GBf8AAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0xMS0xMlQxNjoxODowNiswMTowMEVm3zEAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMTEtMTJUMTY6MTg6MDYrMDE6MDA0O2eNAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-color: black;
    overflow: visible;
    position: absolute;
    top: 0;
    right: 0;
}
.cart-item-list{
    
    color: black;
    padding: 2px 5px;
}
.categories-list{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
}
.e-commerce-product-cart-selected-items p{
    text-align: center;
}
.category-selected{
    background-color: black;
    color: white;
}

@media only screen and (max-width: 767px) {
    .e-commerce-product-cart{
        width: 100vw;
    }
    .cross-btn{
        left: 15px;
    }
    .e-commerce{
        flex-direction: column;
    }
}